<!doctype html>
<head>
  <title><%= hello %></title>
  <%- newrelic %>
  <link rel="stylesheet" href="<%= baseStaticUrl %>app.css">
</head>
<body>
  <div id="root"></div>
  <script src="<%= baseStaticUrl %>app.bundle.js"></script>
</body>
</html>
